.info_modal_background {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  display: flex;
  justify-content: center;
}

.info_modal_container {
  z-index: inherit;
  width: 34rem;
  height: 20rem;
  background-color: white;
  color: grey;
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 1rem;
  border-radius: 1rem;
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
  overflow-y: scroll;
}

.close_modal_btn {
  padding: 4px 8px;
  border: 1px solid #0891b2;
  border-radius: 4px;
  cursor: pointer;
  color: #0891b2;
  font-size: 1.2rem;
  box-sizing: border-box;
  background-color: transparent;
}

.close_modal_btn:hover {
  color: #0d6b7a;
  border: 1px solid #0d6b7a;
}

.copy_graph_btn {
  border: none;
  background-color: #0891b2;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: auto;
}

.copy_graph_btn:hover {
  background-color: #0d6b7a;
}

.json_container {
  width: 100%;
  height: 90%;
  overflow-y: scroll;
  padding: 1rem;
  box-sizing: border-box;
  border: 1px solid grey;
  border-radius: 4px;
}

.heading {
  margin: 0;
}

.action_btn_container {
  display: flex;
  align-items: center;
  gap: 1rem;
}
