.node_container {
  margin: 0;
}

.add_node_btn {
  background-color: white;
  font-weight: 600;
  color: #1e1f22;
  cursor: pointer;
  position: absolute;
  top: 1rem;
  left: 50%;
}

.delete_node_btn {
  width: 3rem;
  height: 3rem;
  position: absolute;
  top: 1rem;
  right: 1rem;
  border: none;
  text-decoration: none;
  background-color: transparent;
  cursor: pointer;
}

.delete_node_btn img {
  width: 100%;
}
