body {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
  background-color: #1e1f22;

  background-image: linear-gradient(
      rgba(75, 85, 99, 0.116) 0.1em,
      transparent 0.1em
    ),
    linear-gradient(90deg, rgba(75, 85, 99, 0.116) 0.1em, transparent 0.1em);
  background-size: 1rem 1rem;
}

::-webkit-scrollbar {
  display: none;
}
